.DS_Store
target
target/**/*
web-app/WEB-INF/classes
web-app/WEB-INF/classes/**/*
web-app/WEB-INF/tld/*.tld
web-app/WEB-INF/tld/**/*
*.log
*.iws
*.ipr
*.iml
.settings/org.eclipse.jdt.core.prefs
SendFailures.txt
*.iml
.idea
.idea/**/*
out/
grails-*.zip
*.sha1
plugin.xml
src/ddl/horizon_upgrade_bgc.lis
*.ser
*.
web-app/css/views/securityQA/securityQA-rtl.css
web-app/css/views/survey/survey-rtl.css
web-app/css/views/userAgreement/policy-rtl.css
/.settings
/target-eclipse
/.classpath
/.project
grails-synch-jvm-options.txt
build/
.gradle
*.scss
/src/main/webapp/css/theme/*.css
